.input{
    position: relative;
    display: block;
    padding: 0% 2.7%;
    &__place{
        position: relative;
        width: 100%;
        height: 102px;
        margin-top: 20px;
        background: #FFFFFF;
        box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
        border-radius: 7px;
        @media screen and (min-width:1024px) {
            height: 102px;
            margin-top: 20px;
        }
        @media screen and (min-width:1400px) {
            height: 121px;
            margin-top: 23px;
            border-radius: 8px;
        }
    }
    &__box{
        position: absolute;
        width: 90%;
        height: 34%;
        left: 4.3%;
        top: 11%;
        display: flex;
    }
    &__search{
        position: relative;
        width: 95.7%;
        height: 100%;
        background-color: #ECEFF0;
        border-radius: 4px;
        padding-left: 4%;
        font-size: 25px;
        @media screen and (min-width:1024px) {
            border-radius: 4px;
            padding-left: 31px;
            font-size: 25px;
        }
        @media screen and (min-width:1400px) {
            border-radius: 5px;
            padding-left: 38px;
            font-size: 28px;
        }
        @media screen and (max-width: 600px) {
            padding-left: 10%;
            font-size: 18px;
        }
    }
    &__logo{
        position: absolute;
        height: 100%;
        width: auto;
        top: 0;
        z-index: 20;
        cursor: pointer;
    }
}
.clear{
    position: absolute;
    height: 16%;
    left: 4.3%;
    top: 70%;
    display: flex;
    cursor: pointer;
    &__text{
        position: relative;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #4F4F4F;
        @media screen and (min-width:1024px) {
            font-size: 12px;
            line-height: 16px;
        }
        @media screen and (min-width:1400px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__logo{
        position: relative;
        width: 16px;
        height: 16px;
        @media screen and (min-width:1024px) {
            width: 16px;
            height: 16px;
        }
        @media screen and (min-width:1400px) {
            width: 20px;
            height: 20px;
        }
    }
}