.header{
    position: relative;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 0% 2.7%;
    height: 28px;
    top: 12px;
    color: #333333;
    @media screen and (min-width:1024px) {
        height: 28px;
        top: 12px;
    }
    @media screen and (min-width:1400px){
        height: 33px;
        top: 14px;
    }
    @media screen and (max-width: 600px) {
        height: 85px;
        font-size: 20px;
    }
}
.pagination{
    position: relative;
    padding: 0% 2.7%;
    margin-top: 20px;
    &__page{
        position: relative;
        border: none;
        background-color: #ECEFF0;
        border-radius: 2px;
        width: 40px;
        height: 40px;
        margin-right: 0.5%;
        cursor: pointer;
    }
}
